<mat-toolbar class="mat-elevation-z3">
    <button matIconButton class="example-icon" matTooltip="Abrir menú" (click)="onMenuToggle()">
    <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="/inicio">
        <img
            src="assets/logo.png"
            alt="Logo"
            width="34"
            height="32"
            class="d-inline-block align-text-center"
        />
        <span class="bold-text ps-2" style="color: #F59E0B;">A</span>gro<span class="bold-text" style="color: #F59E0B;">S</span>ensor
    </a>

    <span class="example-spacer"></span>
    
    <button style="margin: 4px;" 
            mat-icon-button 
            class="example-icon favorite-icon" 
            matTooltip="Cerrar sesión" 
            (click)="exitApp()">
    <mat-icon>logout</mat-icon>
    </button>
<!-- 
    esto va en el boton de importar -> (click)="fileInput.click()"
    <input #fileInput 
        type="file" 
        style="display: none;" 
        (change)="importar($event)" />    
-->



</mat-toolbar>
