<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" class="p-4">

    <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>MAC</mat-label>
        <input matInput formControlName="id" placeholder="Dirección MAC"
            [readonly]="!newDevice">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
            @for (tipo of types; track $index) {
                <mat-option [value]="tipo">{{ tipo }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Activo</mat-label>
        <mat-select formControlName="active">
            <mat-option [value]="true">Sí</mat-option>
            <mat-option [value]="false">No</mat-option>
        </mat-select>
    </mat-form-field>

    <div formGroupName="location">
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Latitud</mat-label>
            <input matInput formControlName="latitude" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Longitud</mat-label>
            <input matInput formControlName="longitude" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label> Cliente</mat-label>
        <mat-select formControlName="client" [compareWith]="compareClientes">
            <mat-option [value]="null">Sin asignar</mat-option>
            @for (client of clients; track $index) {
                <mat-option [value]="client">{{ client.name }} {{client.lastname}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        Enviar información
    </button>
</form>