.dynamic-box {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  transition: background-image 0.5s ease-in-out; // Suaviza el cambio de fondo
}

.text-container {
  padding: 20px 40px;
  border-radius: 10px;
  max-width: 80%;
}

.text-container p {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
