<div class="reset-container">
  <div class="brand-section">
    <img src="assets/logo.png" alt="App Logo" class="app-logo" />
    <h1 class="app-name">AgroSensor</h1>
  </div>

  <div class="form-section">
    <h2 class="page-title-2">Restablecer contraseña</h2>
    <p class="subtitle">
      Por favor ingresa tu nueva contraseña y confírmala.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" formControlName="password" required />

        @if (form.get('password')?.hasError('required')) {
          <mat-error>La contraseña es obligatoria</mat-error>
        }

        @if (form.get('password')?.hasError('minlength')) {
          <mat-error>Debe tener al menos 8 caracteres</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />

        @if (form.get('confirmPassword')?.hasError('required')) {
          <mat-error>La confirmación es obligatoria</mat-error>
        }

        @if (form.hasError('passwordMismatch')) {
          <mat-error>Las contraseñas no coinciden</mat-error>
        }
      </mat-form-field>

      <button
        class="btn-primary"
        mat-raised-button>
        Cambiar contraseña
      </button>
    </form>
  </div>
</div>
