@use "./../../../../styles.scss";
.grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 20px;
}

.information-card {
    padding: 20px;
    width: 100%;
    justify-items: center;
}

.information-card h3 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.information-card p {
    color: rgb(80, 80, 80);
    font-size: 1rem;
    line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
}
