$color-primary: #fbbe24b2; // Amarillo suave
$color-accent: #f59f0b; // Naranja intenso
$color-dark: #374151; // Gris oscuro / texto principal
$color-light: #ffffff; // Fondo claro / crema

.content {
  padding: 40px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  background: $color-accent !important; // Naranja intenso, contrasta bien con el topbar
  border-radius: 0px;
}

span, .mat-icon {
  color: $color-light !important; // Mantiene legibilidad
}
h2, p{
  color: $color-light !important;
}

a {
  margin-top: 10px;
  color: $color-light !important;
  text-decoration: none;

  &:hover {
    color: lighten($color-dark, 10%) !important;
  }
}
